
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Ogg';
  src:url('ogg-font-family-1734924303-0/Ogg-Light-BF646c18fbb73f7.otf') format('opentype'),
       url('ogg-font-family-1734924303-0/Ogg-Light-BF646c18fc54ff4.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
    height: 3px; /* Width of the scrollbar */
}
/*--------------- Preloader----------- */
.wave {
    height: 100%;
    width: 100%;
    background-color: var(--dark-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(255,251,251,0.363));
}

.wave span {
    color: var(--primary-color);
    align-items: center;
    justify-content: center;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s*var(--1));
}

@keyframes waviy {
    0%, 40%, 100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-20px);
    }
}

/*--------------- Preloader Stop----------- */

  #cursor {
    pointer-events: none;
    width: 3rem; /* Default size */
    height: 3rem;
    border: solid 1px rgba(219, 11, 198, 0.2);
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    transition: width 0.35s ease, height 0.35s ease, border 0.35s ease, background 0.35s ease;
  }

  #cursor.button {
    width: 5rem; /* Expanded size */
    height: 5rem;
    border: solid 1px transparent;
    background: rgba(9, 230, 68, 0.5);
  }

  .hover-link > span > span {
    transition: transform 0.4s ease;
  }

  .hover-link > span > span:nth-child(2) {
    transition-delay: 0.07s;
  }

  .hover-link:hover > span > span {
    transform: translateY(-100%);
  }

/*----------portfolio--------*/


.section {
  border-bottom: 1px solid #d8fa3054;
  padding: 20px 0;
  cursor: pointer;
}

.section:last-child {
  border-bottom: none;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
  margin-top: 0;
}

.subtitle {
  font-size: 16px;
  color: #666;
  margin-top: 0;
}

.project-image {
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.section:hover .project-image {
  opacity: 1;
}


/* Adjust canvas styling for different screen sizes */
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
  will-change: transform;
}

/* Style for the small-screen image */
.small-screen-image {
  display: none; /* Default: Hidden */
  margin-bottom: 16px; /* Add spacing below the image */
  text-align: center; /* Center the image */
}

.responsive-image {
  max-width: 100%; /* Make the image responsive */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Optional: Add rounded corners */
}

/* Display image on small screens */
@media (max-width: 768px) {
  .small-screen-image {
    display: block;
  }
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
  canvas {
    position: absolute;
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    transform: translate3d(0, 0, 0);
    width: 100%;
    height: auto;
    pointer-events: none;
  }
}


/*------Conatct me ----*/

.cursor__inner{
  width: 64px;
  height: 64px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.6s cubic-bezier(0.16,1,0.3,1),
   opacity 0.3s cubic-bezier(0.16, 1, 0.3,1);
}

.hide .cursor__inner{
  opacity: 0;
  width: 2.5vw;
  height: 2.5vw;
}

#contact_Contact.overlay{
 z-index: 1;
}

.overlay .cursor__inner{
  width: 48px;
  height: 48px;
  background-color: rgba(0,0, 0, 0.2);
  border-color: transparent;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  text-decoration: none;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: bolder;
  transition: all 0.3s cubic-bezier(0.16,1,0.3,1);
}

.button .button-text{
  position: absolute;
}

.button .foreground-text{
  opacity: 0;
  z-index: 1;
  color: #f7f7f7;
}

.button::after{
  content: "";
  position: relative;
  z-index: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #6b21a8;
  transition: all 0.6s cubic-bezier(0.16, 1,0.3,1);
}

@media (hover: hover) and (pointer: fine){
  .button:hover{
    border-color: transparent;
  }

  .button:hover::after{
    width: 100%;
    height: 100%;
  }

  .button:hover .button-text.foreground-text{
    opacity: 1;
  }
}




/*------------Portfolio Page-------*/

/*------------Contact Page-------*/
.error-txt{
  font-size: 14.5px;
  color: #d93025;
  text-align: left;
  display: none;
}

.form-control.error{
  border-color: #d93025;
}

.form-group.error .error-txt{
  display: inline;
}


